*{
    margin:0;
    padding:0;
}

#wrapper{
        margin:0 auto;
        width: 100%;
}

#userTable{

        width: 650px;
         
        margin-top:30px;
        
        margin-right: 17px;

        margin:0 auto;
        
}

.notBold{
    
    font-weight: normal;
}

#userTableOut{
    width: 100%;
    float:left;
}

#mainUserMenuIn{
    height: 70px;
    width: 96%;
    margin: 0 auto;
}

#mainUserMenuBoxBread{
    height: 48px;
    width: 70%;
    float: right;
}

#userLogin{
    height: 55px;
    width:130px;
    float:left;
}


#sqlDataIn{
    width: 80%;
    height: 200px;
    margin:0 auto;
}


#sqlDataOut{
    width: 100%;
    height: 200px;
    float:left;
}

#mainUserMenu{
   
    height: 70px;
    width: 100%;    
    float: left;
    margin-top:10px;
}

#top{
        width:100%;
        height:1000px;
}

#fillReportForm{
    width: 80%;
    height: 330px;
    margin:0 auto;
}

#fillReportFormOut{
    width: 100%;
    height: 360px;
    float:left;
    margin-top:10px;
}


.oneRowInfo{
    width: 100%;
    height: 50px;
    float:left;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
}







.oneRowInfoDateOut{
    height: 50px;
    width: 18%;
    float: right;
}

.oneRowInfoDateOutIn{
    height: 50px;
    width: 80%;
    margin:0 auto;
}


.oneRowInfoStartTimeOut{
    height: 50px;
    width: 18%;
    float: right;
}

.oneRowInfoStartTimein{
    height: 50px;
    width: 80%;
    margin:0 auto;
}


.oneRowInfoStartTotalTimeOut{
    height: 50px;
    width: 8%;
    float: right;
}

.oneRowInfoStartTotalTimeIn{
    height: 50px;
    width: 80%;
    margin:0 auto;
}


.oneRowInfoStartPlaceOfMeetingOut{
    height: 50px;
    width: 18%;
    float: right;
}

.oneRowInfoStartPlaceOfMeetingIn{
    height: 50px;
    width: 80%;
    margin:0 auto;
}

.oneRowInfoMeetingSubjectOut{
    height: 50px;
    width: 28%;
    float: right;
}

.oneRowInfoMeetingSubjectIn{
    height: 50px;
    width: 80%;
    margin:0 auto;
}

.oneRowInfoCostOut{
    height: 50px;
    width: 10%;
    float: right;
}

.oneRowInfoCostIn{
    height: 50px;
    width: 80%;
    margin:0 auto;
}

.textCenterd{
    text-align: center;

}

#massageTitleOut{
    width: 100%;
    float: left;
    height: 60px;

}


#quizDataOut{
    float:left;
    width: 100%;
    height: 400px;
    
}

#quizDataIn{

    margin:0 auto;
    width: 80%;
    height: 100%;
    


}


.centerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.marginTopTen{

    margin-top:4px;
}

.dataBoxOneLine{
    width: 100%;
    height: 30px;

    float:left;
    
}

.dataBoxText{
    margin: 0 auto;

    width: 80%;

    height: 100%;

    background-color: red;

    border-radius: 5px;


}

.quizDataBox{
    height: 170px;
    width: 150px;
    float: right;
    
}

.textCenter{
    text-align: right;
    line-height:50px;  
}

.btnBorder{
    border:0px solid transparent;
}

.ReportBox{
    width: 100%;
    height: 50px;
    background-color: red;
    float: right;
}

#topMenuSearchBox{
    float: left;
    margin-top:10px;
    width: 176px;
    height: 25px; 
}

#topMenuNav{
    width: 100%;
    height: 50%;
}

#selectStudentForm{
    height: 133px;
    direction: rtl;
}




#navbarTogglerDemo01{
    width: 100px;
    height: 100%;

    

}

#selectStudent{
    width:100%;
    height: 145px;
    float:left;
}

#fillFormDate{
    direction: rtl;
    text-align:right;

}

#userTableIn{
    direction: rtl;
    width:700px;
    text-align: right;
    
}

#markAndMistakeOut{
    width: 100%;

    height: 100px;

    
    float:left;

}

#markAndMistakeIn{

    width: 40%;
    height: 100%;
    margin:0 auto;
   

}

#markAndMistakeLeft{
    width: 40%;
    height: 100%;
    float:left;
 


}


#markAndMistakeRight{
    width: 40%;
    height: 100%;
    float:right;
 
}

#topMenuSearchButton{
        height: 25px;
        width: 25px;
        border-color: #b2b4b7;
}

#breadLeft{
    float: right;
    background-color: white;
}

#breadLeft a{
    text-decoration: none;
}


#topMenuSearchButton:hover{
    background-color: white;
}

#topMenuSearchText{
    direction:rtl;
    float: left;
    height: 25px;
    width:150px;
}

#topMenuText{
   
    width: 300px;
    height: 40px;
 }




header{
        width: 100%;
        height: 90px;
        -webkit-box-shadow: 0px 4px 3px 0px rgba(178,180,183,1);
        -moz-box-shadow: 0px 4px 3px 0px rgba(178,180,183,1);
        box-shadow: 0px 4px 3px 0px rgba(178,180,183,1);
       
}

#logo{
    background: url(../images/I_SMART_logo.png) no-repeat;
    height: 33px;
    width: 165px;
    display: block;
    float:left;
    margin-left:22px;   
}

#LogoBox{ 
    height:33px;
    width: 165px;
    margin-top:10px;
}

#mobileMenuButton{
    border: none;
    outline: none;
}

#LogoBoxMobile{
    visibility: hidden;
}

#LogoBoxpc{
    visibility: visible;
    background-color: black;
    margin-top:10px;
}

.navbar-toggle:hover,
.navbar-toggle:active,
.navbar-toggle:focus
{
background:none !important;
border-color:none !important;
}

#topMenuSearchLogo{
    background: url(../images/magnifying_glass.png) no-repeat;
    height: 18px;
    width: 18px;
    display: block;
    position: relative;
    left:-8px;
    top:-1px;
}

#topMenuUl{
    float: right;
    width: 80px;
    height: 80px;  
}

#selectUserSmallBoxOut{
   width: 100%;
    height: 40px;
    float:left;
}

#selectUserSmallBoxIn{
    width: 80%;
    margin:0  auto;
}

#studentTopLineBox{
    width: 100%;
    height: 45px;   
    float: left;
}


.floatright{
    float:right;
}


#fillFormTimeBoxOut{
    width: 40%;
    float: right;
}

#fillFormTime{
    width: 100%;
    float:left;
    height: 80px;  
}

#fillFormDateBox{
    width: 30%;
    float: right;
}

#fillFormLocation{
    width: 48%;
    float: right;
}

#fillFormSubject{
    width: 48%;
    float: left;
}

#fillFormTimeBox{
    width: 80%;
    margin:0 auto;
}

#fillFormTextInfo{
    width: 100%;
    height: 80px;
    float: left;
}

#fillFormcostBox{
    width: 25%;
    float: right;
}

#fillFormTextcost{
    width: 100%;
    height: 80px;
    float: left;
}


#fillFormTotalTimeBox{
    float: left;
    width:30%;
}

#studentSelect{
    margin: 0 auto;
    width: 80%;
    height: 30px;   
    text-align: right;      
}

#studentSelectFill{
   float:right;
    height: 30px;   
    text-align: right;

}

#reportTimeSearchButton{
        height: 40px;
}

#reportTimeSearchButtonBoxin{
        height: 45px;
        width:80%;
        margin:0 auto;
        margin-top:10px;
}

#loadStudentInfo{
    width: 100%;
    float:left;
    height: 100px;
}

#loadStudentInfoIn{
    width: 80%;
    height:100px;
    margin:0 auto;
}


#reportTimeSearchButtonBoxOut{
    height: 45px;
    width: 100%;
    float: left;
}

@media screen and  (max-width:576px)
{
    #wrapper{
            width:100%;
    }
    #topMenuSearchBox{
        width: 176px;
        float: right;
        height: 25px;  
    }

    #topMenuText{
        width: 100%;
        height: 200px;
        text-align: right;
    }
  
    #topMenuNav{
        width: 100%;
        float:left;   
    }
  
    #logo{
       margin-left:0px;
    }

    #LogoBoxpc{
        visibility: hidden;
    }

    #LogoBoxMobile{
        float:left;
        visibility: visible;
    }

    #navbarTogglerDemo01{
        height: 350px;
        background-color: white;
    }

    .allWidth{
        width: 100%;

    }

    .oneRowInfo{

        height: 300px;

    }


}